Repository ianstormtaylor/superstruct, pull requests merged in 2020-11, with the labels that each got.

#425 docs: escape pipe character to fix error properties table
  docs/reference.md
Labels: docs

#438 chore(docs): Update `record` entry
  docs/reference.md
Labels: docs

#496 Fix partial reference docs
  docs/reference.md
Labels: docs

#432 Update reference docs on `array`
  docs/reference.md
Labels: docs

#440 Fix ability to get multiple failures (#394)
  docs/reference.md
  src/struct.ts
  src/utils.ts
  test/fixtures/array/invalid-element-property.ts
  test/fixtures/array/invalid-element.ts
  test/fixtures/array/invalid-opaque.ts
  test/fixtures/array/invalid.ts
  test/fixtures/boolean/invalid.ts
  test/fixtures/date/invalid-date.ts
  test/fixtures/date/invalid.ts
  test/fixtures/dynamic/invalid-reference.ts
  test/fixtures/dynamic/invalid.ts
  test/fixtures/empty/invalid-array.ts
  test/fixtures/empty/invalid-string.ts
  test/fixtures/enums/invalid-numbers.ts
  test/fixtures/enums/invalid-strings.ts
  test/fixtures/function/invalid.ts
  test/fixtures/instance/invalid.ts
  test/fixtures/intersection/invalid.ts
  test/fixtures/lazy/invalid.ts
  test/fixtures/length/invalid-array.ts
  test/fixtures/length/invalid-string.ts
  test/fixtures/literal/invalid.ts
  test/fixtures/map/invalid-property.ts
  test/fixtures/map/invalid.ts
  test/fixtures/masked/not-masked.ts
  test/fixtures/never/invalid.ts
  test/fixtures/nullable/invalid.ts
  test/fixtures/number/invalid.ts
  test/fixtures/object/invalid-element-nested.ts
  test/fixtures/object/invalid-opaque.ts
  test/fixtures/object/invalid-property-nested.ts
  test/fixtures/object/invalid-property-unknown.ts
  test/fixtures/object/invalid-property.ts
  test/fixtures/object/invalid-referential.ts
  test/fixtures/object/invalid.ts
  test/fixtures/optional/invalid.ts
  test/fixtures/partial/invalid-property-unknown.ts
  test/fixtures/partial/invalid-property.ts
  test/fixtures/partial/invalid.ts
  test/fixtures/pattern/invalid.ts
  test/fixtures/record/invalid-property.ts
  test/fixtures/record/invalid.ts
  test/fixtures/refinement/invalid.ts
  test/fixtures/set/invalid-element.ts
  test/fixtures/set/invalid.ts
  test/fixtures/string/invalid.ts
  test/fixtures/tuple/invalid-element-missing.ts
  test/fixtures/tuple/invalid-element-unknown.ts
  test/fixtures/tuple/invalid-element.ts
  test/fixtures/tuple/invalid.ts
  test/fixtures/type/invalid-property-nested.ts
  test/fixtures/type/invalid-property.ts
  test/fixtures/type/invalid.ts
  test/fixtures/union/invalid.ts
  test/index.ts
Labels: bug, debt

#541 Use `readonly` modifier in enums to accept readonly const arrays
  src/structs/types.ts
Labels: improvement

#551 change coercions to include more type safety
  .eslintrc
  .gitignore
  .prettierignore
  docs/guides/03-coercing-data.md
  docs/reference/coercions.md
  package.json
  src/error.ts
  src/structs/coercions.ts
  src/utils.ts
  test/typings/coerce.ts
  test/typings/trimmed.ts
  test/validation/coerce/changed.ts
  test/validation/coerce/condition-not-met.ts
  test/validation/coerce/unchanged.ts
  test/validation/trimmed/invalid.ts
  test/validation/trimmed/valid.ts
  yarn.lock
Labels: improvement, ✶ breaking
